#Attribute Information:

Input variables:
# bank client data:
1 - age (numeric)
2 - job : type of job (categorical: 'admin.','blue-collar','entrepreneur','housemaid','management','retired','self-employed','services','student','technician','unemployed','unknown')
3 - marital : marital status (categorical: 'divorced','married','single','unknown'; note: 'divorced' means divorced or widowed)
4 - education (categorical: 'basic.4y','basic.6y','basic.9y','high.school','illiterate','professional.course','university.degree','unknown')
5 - default: has credit in default? (categorical: 'no','yes','unknown')
6 - housing: has housing loan? (categorical: 'no','yes','unknown')
7 - loan: has personal loan? (categorical: 'no','yes','unknown')
# related with the last contact of the current campaign:
8 - contact: contact communication type (categorical: 'cellular','telephone')
9 - month: last contact month of year (categorical: 'jan', 'feb', 'mar', ..., 'nov', 'dec')
10 - day_of_week: last contact day of the week (categorical: 'mon','tue','wed','thu','fri')
11 - duration: last contact duration, in seconds (numeric). Important note: this attribute highly affects the output target (e.g., if duration=0 then y='no'). Yet, the duration is not known before a call is performed. Also, after the end of the call y is obviously known. Thus, this input should only be included for benchmark purposes and should be discarded if the intention is to have a realistic predictive model.
# other attributes:
12 - campaign: number of contacts performed during this campaign and for this client (numeric, includes last contact)
13 - pdays: number of days that passed by after the client was last contacted from a previous campaign (numeric; 999 means client was not previously contacted)
14 - previous: number of contacts performed before this campaign and for this client (numeric)
15 - poutcome: outcome of the previous marketing campaign (categorical: 'failure','nonexistent','success')
# social and economic context attributes
16 - emp.var.rate: employment variation rate - quarterly indicator (numeric)
17 - cons.price.idx: consumer price index - monthly indicator (numeric)
18 - cons.conf.idx: consumer confidence index - monthly indicator (numeric)
19 - euribor3m: euribor 3 month rate - daily indicator (numeric)
20 - nr.employed: number of employees - quarterly indicator (numeric)

Output variable (desired target):
21 - y - has the client subscribed a term deposit? (binary: 'yes','no')

# Questions
* Read the dataset `banking.csv` into a dataframe named as df
* Write down all basic necessary steps
* Select X (independent variables '**all numeric** columns other than the **y** column') and Y (dependent variable the 'y' column)
* Split the data in training (70%) and testing (30%)
* while splitting the data in training and testing ensure that with every run same data is picked for training
* Select any two classification algorithms of your choice
* Train the algorithms in 3 frameworks (simple sklearn, TensorFlow, Spark)
* Calculate accuracy for all cases (6 cases= 2 Algo * 3 frameworks)
* Which algorithm has the best accuracy

## Start writing your solution from the following cell.

### input  var # x= iloc / col 0 to 20 (end) except (21) last
### output var # y= variable 21=  term deposit == y/n

In [0]:
import pandas
import numpy

In [0]:
#column_names = ['age',	'job',	'marital',	'education',	'default',	'housing',	'loan',	'contact',	'month',	'day_of_week',	'duration', 'campaign',	'pdays',	'previous',	'poutcome',	'emp_var_rate',	'cons_price_idx',	'cons_conf_idx',	'euribor3m',	'nr_employed',	'y']

In [3]:
from google.colab import files
uploaded = files.upload()

Saving banking.csv to banking.csv

In [0]:
df = pandas.read_csv('banking.csv', sep=",")

In [6]:
df.keys() # df.columns

Index(['age', 'job', 'marital', 'education', 'default', 'housing', 'loan',
       'contact', 'month', 'day_of_week', 'duration', 'campaign', 'pdays',
       'previous', 'poutcome', 'emp_var_rate', 'cons_price_idx',
       'cons_conf_idx', 'euribor3m', 'nr_employed', 'y'],
      dtype='object')

In [7]:
# col:y/n ===already binarized:

df.head(4)

   age          job  marital  ... euribor3m nr_employed  y
0   44  blue-collar  married  ...     4.963      5228.1  0
1   53   technician  married  ...     4.021      5195.8  0
2   28   management   single  ...     0.729      4991.6  1
3   39     services  married  ...     1.405      5099.1  0

[4 rows x 21 columns]

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 41188 entries, 0 to 41187
Data columns (total 21 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             41188 non-null  int64
 1   job             41188 non-null  object
 2   marital         41188 non-null  object
 3   education       41188 non-null  object
 4   default         41188 non-null  object
 5   housing         41188 non-null  object
 6   loan            41188 non-null  object
 7   contact         41188 non-null  object
 8   month           41188 non-null  object
 9   day_of_week     41188 non-null  object
 10  duration        41188 non-null  int64
 11  campaign        41188 non-null  int64
 12  pdays           41188 non-null  int64
 13  previous        41188 non-null  int64
 14  poutcome        41188 non-null  object
 15  emp_var_rate    41188 non-null  float64
 16  cons_price_idx  41188 non-null  float64
 17  cons_conf_idx   41188 non-null  float64
 18  euribor3m       41188 non-null  float64
 19  nr_employed     41188 non-null  float64
 20  y               41188 non-null  int64
dtypes: float64(5), int64(6), object(10)
memory usage: 6.6+ MB

In [9]:
df.describe()

               age      duration  ...   nr_employed             y
count  41188.00000  41188.000000  ...  41188.000000  41188.000000
mean      40.02406    258.285010  ...   5167.035911      0.112654
std       10.42125    259.279249  ...     72.251528      0.316173
min       17.00000      0.000000  ...   4963.600000      0.000000
25%       32.00000    102.000000  ...   5099.100000      0.000000
50%       38.00000    180.000000  ...   5191.000000      0.000000
75%       47.00000    319.000000  ...   5228.100000      0.000000
max       98.00000   4918.000000  ...   5228.100000      1.000000

[8 rows x 11 columns]

In [10]:
df.isna().sum()

age               0
job               0
marital           0
education         0
default           0
housing           0
loan              0
contact           0
month             0
day_of_week       0
duration          0
campaign          0
pdays             0
previous          0
poutcome          0
emp_var_rate      0
cons_price_idx    0
cons_conf_idx     0
euribor3m         0
nr_employed       0
y                 0
dtype: int64

In [11]:
df.dtypes

age                 int64
job                object
marital            object
education          object
default            object
housing            object
loan               object
contact            object
month              object
day_of_week        object
duration            int64
campaign            int64
pdays               int64
previous            int64
poutcome           object
emp_var_rate      float64
cons_price_idx    float64
cons_conf_idx     float64
euribor3m         float64
nr_employed       float64
y                   int64
dtype: object

## Select X (independent variables 'all numeric columns other than the y column') and Y (dependent variable the 'y' column)

In [12]:
df.head(2)

   age          job  marital  ... euribor3m nr_employed  y
0   44  blue-collar  married  ...     4.963      5228.1  0
1   53   technician  married  ...     4.021      5195.8  0

[2 rows x 21 columns]

In [13]:
#independent variables
x = df.iloc[:,[0,10,11,12,13,15,16,17,18,19]]
x.head(4)

   age  duration  campaign  ...  cons_conf_idx  euribor3m  nr_employed
0   44       210         1  ...          -36.1      4.963       5228.1
1   53       138         1  ...          -42.0      4.021       5195.8
2   28       339         3  ...          -39.8      0.729       4991.6
3   39       185         2  ...          -47.1      1.405       5099.1

[4 rows x 10 columns]

In [14]:
#dependent variables
y = df.iloc[:,[-1]]
y.head(4)

   y
0  0
1  0
2  1
3  0

## Split the data in training (70%) and testing (30%)

In [0]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x,y,random_state=1029, test_size=0.3 , train_size=0.7)

In [16]:
# x = independent variables
print(x.shape, '100%')
print(x_train.shape, '70%')
print(x_test.shape, '30%')
print()

# y = dependent variable
print(y.shape, '100%')
print(y_train.shape, '70%')
print(y_test.shape, '30%')

(41188, 10) 100%
(28831, 10) 70%
(12357, 10) 30%

(41188, 1) 100%
(28831, 1) 70%
(12357, 1) 30%

### Select any two classification algorithms of your choice

Decision Trees (#Lab-4)

In [0]:
from sklearn.tree import DecisionTreeClassifier

In [0]:
my_dec_tree = DecisionTreeClassifier(criterion='entropy')

In [19]:
my_dec_tree.fit(x_train, y_train)

DecisionTreeClassifier(ccp_alpha=0.0, class_weight=None, criterion='entropy',
                       max_depth=None, max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort='deprecated',
                       random_state=None, splitter='best')

In [0]:
predict_deci_tree = my_dec_tree.predict(x_test)

compare this resullt...real --> predicted

In [21]:
y_test.head(10)

       y
40012  0
18773  0
4553   0
38866  0
38336  0
28531  0
6713   0
38070  0
9730   1
9940   1

In [22]:
predict_deci_tree[0:10]

array([0, 0, 0, 0, 0, 0, 0, 0, 1, 0])

In [0]:
from sklearn.metrics import classification_report,confusion_matrix

In [24]:
print(confusion_matrix(y_test,predict_deci_tree))

[[10229   685]
 [  692   751]]

In [25]:
print(classification_report(y_test,predict_deci_tree))

              precision    recall  f1-score   support

           0       0.94      0.94      0.94     10914
           1       0.52      0.52      0.52      1443

    accuracy                           0.89     12357
   macro avg       0.73      0.73      0.73     12357
weighted avg       0.89      0.89      0.89     12357

# ############ ###########

# Tensorflow

In [26]:
train_dataset = df.sample(frac=0.8,random_state=1029)
train_dataset.head(3)

       age           job  marital  ... euribor3m nr_employed  y
40012   32        admin.   single  ...     1.299      5099.1  0
18773   31    management  married  ...     4.963      5228.1  0
4553    40  entrepreneur  married  ...     1.250      5099.1  0

[3 rows x 21 columns]

In [0]:
import tensorflow as tf
from tensorflow import keras
from tensorflow.keras import layers

In [0]:
def build_model():
  model = keras.Sequential([layers.Dense(64, activation='relu', input_shape=[len(train_dataset.keys())]), 
        layers.Dense(64, activation='relu'),  layers.Dense(1) ])
  
  optimizer = tf.keras.optimizers.RMSprop(0.001)
  
  model.compile(loss='mse',  optimizer=optimizer,  metrics=['mae', 'mse'])
   
  return model

In [0]:
model = build_model()

In [0]:
#Linear Regression in SKLearn
from sklearn.linear_model import LinearRegression

In [31]:
my_lin_reg_tf = LinearRegression()
my_lin_reg_tf

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [32]:
my_lin_reg_tf.fit(x_train, y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [33]:

print("intercept is : ", my_lin_reg_tf.intercept_)
print("coefficient is : ", my_lin_reg_tf.coef_)

intercept is :  [-0.28863193]
coefficient is :  [[ 0.00034014  0.00046052  0.00125259 -0.00037457 -0.03040756 -0.03084893
   0.04900217  0.00550711 -0.00540869 -0.00071813]]

In [34]:
predicted_y = my_lin_reg_tf.predict(x_test)
predicted_y

array([[ 0.10295307],
       [-0.01764795],
       [ 0.07192106],
       ...,
       [ 0.06795203],
       [ 0.07946157],
       [ 0.31649869]])

In [35]:
x_test.head(3)

       age  duration  campaign  ...  cons_conf_idx  euribor3m  nr_employed
40012   32       148         2  ...          -46.2      1.299       5099.1
18773   31       166         2  ...          -36.1      4.963       5228.1
4553    40       132         5  ...          -46.2      1.250       5099.1

[3 rows x 10 columns]

In [0]:
from sklearn import metrics

In [37]:
print("MSE: ",metrics.mean_squared_error(y_test,predicted_y))
print("MAE: ",metrics.mean_absolute_error(y_test,predicted_y))

MSE:  0.06869185837972548
MAE:  0.15886313364207208

In [38]:
# extra 
error = (predicted_y - y_test)
error

              y
40012  0.102953
18773 -0.017648
4553   0.071921
38866 -0.019739
38336 -0.018255
...         ...
2609   0.061800
22233 -0.032972
8476   0.067952
25572  0.079462
31629 -0.683501

[12357 rows x 1 columns]

# ######### ###########

# Sparks

In [39]:
!pip install pyspark
!pip install -U -q PyDrive
!apt install openjdk-8-jdk-headless -qq
import os
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-8-openjdk-amd64"

Collecting pyspark
  Downloading https://files.pythonhosted.org/packages/9a/5a/271c416c1c2185b6cb0151b29a91fff6fcaed80173c8584ff6d20e46b465/pyspark-2.4.5.tar.gz (217.8MB)
     |████████████████████████████████| 217.8MB 61kB/s
Collecting py4j==0.10.7
  Downloading https://files.pythonhosted.org/packages/e3/53/c737818eb9a7dc32a7cd4f1396e787bd94200c3997c72c1dbe028587bd76/py4j-0.10.7-py2.py3-none-any.whl (197kB)
     |████████████████████████████████| 204kB 47.4MB/s
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-2.4.5-py2.py3-none-any.whl size=218257927 sha256=edabe6c069f0615829da29c08d216969de90b7fc923223005ffa62d16b60bc19
  Stored in directory: /root/.cache/pip/wheels/bf/db/04/61d66a5939364e756eb1c1be4ec5bdce6e04047fc7929a3c3c
Successfully built pyspark
Installing collected packages: py4j, pyspark
Successfully installed py4j-0.10.7 pyspark-2.4.5
openjdk-8-jdk-headless is already the newest version (8u242-b08-0ubuntu3~18.04).
0 upgraded, 0 newly installed, 0 to remove and 25 not upgraded.

In [0]:
from pyspark.ml import Pipeline
from pyspark.ml.classification import LogisticRegression
from pyspark.ml.feature import IndexToString, StringIndexer, VectorIndexer, VectorAssembler
from pyspark.ml.evaluation import MulticlassClassificationEvaluator
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName("LogisticRegressionExample").getOrCreate()

In [0]:
dataset_sparks = spark.read.csv('banking.csv',inferSchema=True, header =True)

In [42]:
dataset_sparks.schema

StructType(List(StructField(age,IntegerType,true),StructField(job,StringType,true),StructField(marital,StringType,true),StructField(education,StringType,true),StructField(default,StringType,true),StructField(housing,StringType,true),StructField(loan,StringType,true),StructField(contact,StringType,true),StructField(month,StringType,true),StructField(day_of_week,StringType,true),StructField(duration,IntegerType,true),StructField(campaign,IntegerType,true),StructField(pdays,IntegerType,true),StructField(previous,IntegerType,true),StructField(poutcome,StringType,true),StructField(emp_var_rate,DoubleType,true),StructField(cons_price_idx,DoubleType,true),StructField(cons_conf_idx,DoubleType,true),StructField(euribor3m,DoubleType,true),StructField(nr_employed,DoubleType,true),StructField(y,IntegerType,true)))

In [45]:
dataset_sparks.describe

<bound method DataFrame.describe of DataFrame[age: int, job: string, marital: string, education: string, default: string, housing: string, loan: string, contact: string, month: string, day_of_week: string, duration: int, campaign: int, pdays: int, previous: int, poutcome: string, emp_var_rate: double, cons_price_idx: double, cons_conf_idx: double, euribor3m: double, nr_employed: double, y: int]>

In [46]:
dataset_sparks.printSchema()

root
 |-- age: integer (nullable = true)
 |-- job: string (nullable = true)
 |-- marital: string (nullable = true)
 |-- education: string (nullable = true)
 |-- default: string (nullable = true)
 |-- housing: string (nullable = true)
 |-- loan: string (nullable = true)
 |-- contact: string (nullable = true)
 |-- month: string (nullable = true)
 |-- day_of_week: string (nullable = true)
 |-- duration: integer (nullable = true)
 |-- campaign: integer (nullable = true)
 |-- pdays: integer (nullable = true)
 |-- previous: integer (nullable = true)
 |-- poutcome: string (nullable = true)
 |-- emp_var_rate: double (nullable = true)
 |-- cons_price_idx: double (nullable = true)
 |-- cons_conf_idx: double (nullable = true)
 |-- euribor3m: double (nullable = true)
 |-- nr_employed: double (nullable = true)
 |-- y: integer (nullable = true)

In [47]:
print(dataset_sparks.columns)

['age', 'job', 'marital', 'education', 'default', 'housing', 'loan', 'contact', 'month', 'day_of_week', 'duration', 'campaign', 'pdays', 'previous', 'poutcome', 'emp_var_rate', 'cons_price_idx', 'cons_conf_idx', 'euribor3m', 'nr_employed', 'y']

In [48]:
dataset_sparks.show(5)

+---+-----------+-------+-----------------+-------+-------+----+--------+-----+-----------+--------+--------+-----+--------+-----------+------------+--------------+-------------+---------+-----------+---+
|age|        job|marital|        education|default|housing|loan| contact|month|day_of_week|duration|campaign|pdays|previous|   poutcome|emp_var_rate|cons_price_idx|cons_conf_idx|euribor3m|nr_employed|  y|
+---+-----------+-------+-----------------+-------+-------+----+--------+-----+-----------+--------+--------+-----+--------+-----------+------------+--------------+-------------+---------+-----------+---+
| 44|blue-collar|married|         basic.4y|unknown|    yes|  no|cellular|  aug|        thu|     210|       1|  999|       0|nonexistent|         1.4|        93.444|        -36.1|    4.963|     5228.1|  0|
| 53| technician|married|          unknown|     no|     no|  no|cellular|  nov|        fri|     138|       1|  999|       0|nonexistent|        -0.1|          93.2|        -42.0|    4.021|     5195.8|  0|
| 28| management| single|university.degree|     no|    yes|  no|cellular|  jun|        thu|     339|       3|    6|       2|    success|        -1.7|        94.055|        -39.8|    0.729|     4991.6|  1|
| 39|   services|married|      high.school|     no|     no|  no|cellular|  apr|        fri|     185|       2|  999|       0|nonexistent|        -1.8|        93.075|        -47.1|    1.405|     5099.1|  0|
| 55|    retired|married|         basic.4y|     no|    yes|  no|cellular|  aug|        fri|     137|       1|    3|       1|    success|        -2.9|        92.201|        -31.4|    0.869|     5076.2|  1|
+---+-----------+-------+-----------------+-------+-------+----+--------+-----+-----------+--------+--------+-----+--------+-----------+------------+--------------+-------------+---------+-----------+---+
only showing top 5 rows

In [49]:
from pyspark.ml.feature import StringIndexer

my_str_indexer = StringIndexer(inputCol="y", outputCol="label")

temp1 = my_str_indexer.fit(dataset_sparks).transform(dataset_sparks)
temp1.show(4)

+---+-----------+-------+-----------------+-------+-------+----+--------+-----+-----------+--------+--------+-----+--------+-----------+------------+--------------+-------------+---------+-----------+---+-----+
|age|        job|marital|        education|default|housing|loan| contact|month|day_of_week|duration|campaign|pdays|previous|   poutcome|emp_var_rate|cons_price_idx|cons_conf_idx|euribor3m|nr_employed|  y|label|
+---+-----------+-------+-----------------+-------+-------+----+--------+-----+-----------+--------+--------+-----+--------+-----------+------------+--------------+-------------+---------+-----------+---+-----+
| 44|blue-collar|married|         basic.4y|unknown|    yes|  no|cellular|  aug|        thu|     210|       1|  999|       0|nonexistent|         1.4|        93.444|        -36.1|    4.963|     5228.1|  0|  0.0|
| 53| technician|married|          unknown|     no|     no|  no|cellular|  nov|        fri|     138|       1|  999|       0|nonexistent|        -0.1|          93.2|        -42.0|    4.021|     5195.8|  0|  0.0|
| 28| management| single|university.degree|     no|    yes|  no|cellular|  jun|        thu|     339|       3|    6|       2|    success|        -1.7|        94.055|        -39.8|    0.729|     4991.6|  1|  1.0|
| 39|   services|married|      high.school|     no|     no|  no|cellular|  apr|        fri|     185|       2|  999|       0|nonexistent|        -1.8|        93.075|        -47.1|    1.405|     5099.1|  0|  0.0|
+---+-----------+-------+-----------------+-------+-------+----+--------+-----+-----------+--------+--------+-----+--------+-----------+------------+--------------+-------------+---------+-----------+---+-----+
only showing top 4 rows

In [50]:
temp1.printSchema()

root
 |-- age: integer (nullable = true)
 |-- job: string (nullable = true)
 |-- marital: string (nullable = true)
 |-- education: string (nullable = true)
 |-- default: string (nullable = true)
 |-- housing: string (nullable = true)
 |-- loan: string (nullable = true)
 |-- contact: string (nullable = true)
 |-- month: string (nullable = true)
 |-- day_of_week: string (nullable = true)
 |-- duration: integer (nullable = true)
 |-- campaign: integer (nullable = true)
 |-- pdays: integer (nullable = true)
 |-- previous: integer (nullable = true)
 |-- poutcome: string (nullable = true)
 |-- emp_var_rate: double (nullable = true)
 |-- cons_price_idx: double (nullable = true)
 |-- cons_conf_idx: double (nullable = true)
 |-- euribor3m: double (nullable = true)
 |-- nr_employed: double (nullable = true)
 |-- y: integer (nullable = true)
 |-- label: double (nullable = false)

In [51]:
from pyspark.ml.feature import VectorAssembler
my_vector_assembler = VectorAssembler(inputCols=['age',  'duration', 'campaign', 'pdays', 'previous', 'emp_var_rate', 'cons_price_idx', 'cons_conf_idx', 'euribor3m', 'nr_employed'],
                                      outputCol='FeaturesVector',
                                      handleInvalid='error')

temp2 = my_vector_assembler.transform(temp1)
temp2.show(4)

+---+-----------+-------+-----------------+-------+-------+----+--------+-----+-----------+--------+--------+-----+--------+-----------+------------+--------------+-------------+---------+-----------+---+-----+--------------------+
|age|        job|marital|        education|default|housing|loan| contact|month|day_of_week|duration|campaign|pdays|previous|   poutcome|emp_var_rate|cons_price_idx|cons_conf_idx|euribor3m|nr_employed|  y|label|      FeaturesVector|
+---+-----------+-------+-----------------+-------+-------+----+--------+-----+-----------+--------+--------+-----+--------+-----------+------------+--------------+-------------+---------+-----------+---+-----+--------------------+
| 44|blue-collar|married|         basic.4y|unknown|    yes|  no|cellular|  aug|        thu|     210|       1|  999|       0|nonexistent|         1.4|        93.444|        -36.1|    4.963|     5228.1|  0|  0.0|[44.0,210.0,1.0,9...|
| 53| technician|married|          unknown|     no|     no|  no|cellular|  nov|        fri|     138|       1|  999|       0|nonexistent|        -0.1|          93.2|        -42.0|    4.021|     5195.8|  0|  0.0|[53.0,138.0,1.0,9...|
| 28| management| single|university.degree|     no|    yes|  no|cellular|  jun|        thu|     339|       3|    6|       2|    success|        -1.7|        94.055|        -39.8|    0.729|     4991.6|  1|  1.0|[28.0,339.0,3.0,6...|
| 39|   services|married|      high.school|     no|     no|  no|cellular|  apr|        fri|     185|       2|  999|       0|nonexistent|        -1.8|        93.075|        -47.1|    1.405|     5099.1|  0|  0.0|[39.0,185.0,2.0,9...|
+---+-----------+-------+-----------------+-------+-------+----+--------+-----+-----------+--------+--------+-----+--------+-----------+------------+--------------+-------------+---------+-----------+---+-----+--------------------+
only showing top 4 rows

In [52]:
final_data = temp2.select('FeaturesVector', 'label')
final_data.show(5)

+--------------------+-----+
|      FeaturesVector|label|
+--------------------+-----+
|[44.0,210.0,1.0,9...|  0.0|
|[53.0,138.0,1.0,9...|  0.0|
|[28.0,339.0,3.0,6...|  1.0|
|[39.0,185.0,2.0,9...|  0.0|
|[55.0,137.0,1.0,3...|  1.0|
+--------------------+-----+
only showing top 5 rows

Classification algo

In [0]:
from pyspark.ml.classification import LogisticRegression

In [0]:
my_logi_reg_pyspark = LogisticRegression(featuresCol='FeaturesVector', labelCol='label', maxIter=10)
train_data1, test_data1 = final_data.randomSplit([0.70, 0.30])

In [0]:
my_logi_reg_pyspark_model = my_logi_reg_pyspark.fit(train_data1)

In [56]:
eval = my_logi_reg_pyspark_model.evaluate(test_data1)
eval

In [59]:
eval.accuracy

0.9003257328990228

In [0]:
# The LogisticRegression algorithm from pyspark.ml.classification has better accuracy